body{
  background-color: white;
}

.cell {
  border: 1px solid black;
  width: 1em;
  height: 1em;
}

.red{
  background-color: red;
}

#update-grid-button {
  margin-top: 22px;
}

.color {
  border: 1px solid black;
  width: 1em;
  height: 1em;
}

#canvas {
  margin: 0 auto;
  float: none;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow{
  background-color: yellow;
}

.white {
  background-color: white;
}

.btn-yellow {
  background-color: yellow;
  border-radius: 10px;
  border-color: yellow;
}
